body {
    margin: 0;
    background-color: aqua;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    overflow-x: hidden;
}

header {
    height: 864px;
    background: url(../public/images/header-img.png) no-repeat center center fixed; 
    background-size: cover;
}

a {
    cursor: pointer;
    text-decoration: none;
}

h1 {
    font-size: 64px;
    margin: 0;
}

h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
}

h4 {
    font-size: 16px;
    margin-top: 10px;
}

footer {
    background-color: #E6E6E6;
    height: 430px;
    color: #707070;
    font-family: 'Roboto', sans-serif;
    padding: 35px 270px;
}

.header-nav {
    display: flex;
    color: white;
    text-shadow: 0px 0px 20px #242424;
    margin: 0 280px;
    padding-top: 30px;
}

.nav-left {
    margin-right: 40px;
}

.nav-left-top {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
    padding: 0px 800px 30px 0; 
}

.nav-link { 
    font-size: 18px;
    margin-right: 60px;
    color:#FFFFFF;
}

.nav-left-bottom {
    display: flex;
    justify-content: flex-end;
}

.logo {
    height: 52px;
}

.swiper {
    width: 100%;
    height: 400px; 
    margin: 200px 0 0 280px;
}

.swiper-slide {
    margin: 0;
    display: flex;
    align-items: flex-end;
    color:#FFFFFF;
    text-shadow: 0px 0px 20px #242424;
}

.swiper-slide-left {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.swiper-pagination {
	position: absolute;
	width: auto !important;
	margin: 0;
}
.swiper-pagination-bullet {
	border-radius: 0;
	width: 60px;
	height: 5px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color:#000;
	opacity: 1;
	background: #FFFFFF;
}
.swiper-pagination-bullet-active {
	color:#ffffff;
	background: #3369D3;
}

.slider-bmw-logo {
    width: 48px;
}

.trial-btn {
    background-color: #3369D3;
    padding: 15px 90px;
    margin-left: 100px;
    color:#FFFFFF;
    border: none;
    font-size: 18px;
    height: 80px;
}

.facts-section {
    margin: 160px 0 190px 80px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 320px 536px 100px auto;
    grid-template-rows: 320px 260px 60px;
    column-gap: 16px;
}

.bmw-info-img1 {
    grid-row: 2 / span 1;
    width: 320px;
}

.bmw-info-img2 {
    grid-column: 2 / span 1;
    width: 536px;
}

.bmw-info-box {
    grid-column: 4;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-columns: 190px 190px 190px;
    grid-template-rows: 108px 220px 200px auto;
    gap: 30px;  
}

.bmw-info-box-title {
    grid-column: 1 / span 3;
}

.bmw-info-box-id {
    border-bottom: 1px solid #4E4E4E;
    font-size: 12px;
}

.textarea {
    color: #4E4E4E;
    font-size: 14px;
}

.innovation-section {
    display: grid;
    grid-template-columns: 536px 154px 536px 320px;
    grid-template-rows: 60px 260px 270px;
    column-gap: 16px;
    margin: 90px 0 90px 280px;
    background-color: white;
}

.innovation-textarea-title {
    grid-row: 1 / span 1;
}

.subtitle {
    color: #707070;
    font-size: 20px;
}

.innovation-img1 {
    width: 536px;
    grid-column: 3 / span 1;
    grid-row: 2;
}

.innovation-img2 {
    grid-column: 4;
    grid-row: 1;
    width: 320px;
}

.gallery {
    width: 99%;
    margin: 90px 10px;
}

.footer-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #BEBEBE;
    padding-bottom: 15px;
    margin-bottom: 40px;
    font-size: 20px;
}

.social-icon {
    width: 32px;
    height: 32px; 
    margin-left: 20px;  
}

.site-map {
    display: flex;
    justify-content: flex-start;
}

.site-map-client-zone, .site-map-meet-BMW, .site-map-legal-info {
    display: flex;
    flex-direction: column;
    margin-right: 260px;
}

.site-map-link {
    font-size: 14px;
    line-height: 28px;
    font-weight: bold;
}

.watermark {
    background-color: #FFFFFF;
    padding: 10px 270px;
    font-size: 14px;
}
